---
title: Industrial Projects
layout: default
description: Case studies built with external partners
header-img: "img/m4-c.jpg"
permalink: /projects/industrial/
nav_order: 26
---

{% include intro-header.html type='page' short=true %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <section class="industrial-projects" itemscope itemtype="https://schema.org/CollectionPage">
        <h2>Industrial Projects</h2>
        <p>Selected case studies delivered with external partners. Only posts marked with industrial: true are listed.</p>

        {% assign industrial_posts = site.posts | where: "industrial", true | sort: "date" | reverse %}

        {% for post in industrial_posts %}
          {% assign partner_meta = nil %}
          {% if post.partner_key %}
            {% assign partner_meta = site.data.partners[post.partner_key] %}
          {% endif %}

          <article class="project-card" itemscope itemtype="https://schema.org/CreativeWork">
            <div class="project-logo">
              {% if partner_meta and partner_meta.logo %}
                {% assign _logo = partner_meta.logo %}
                {% if _logo contains '://' %}
                  <img src="{{ _logo }}" alt="{{ partner_meta.name }} logo">
                {% elsif _logo contains '/' %}
                  <img src="{{ _logo | relative_url }}" alt="{{ partner_meta.name }} logo">
                {% else %}
                  <img src="{{ '/img/partners/' | append: _logo | relative_url }}" alt="{{ partner_meta.name }} logo">
                {% endif %}
              {% endif %}
            </div>

            <div class="project-body">
              <h3 itemprop="name"><a itemprop="url" href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
              <p class="project-meta">
                <span itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</span>
                {% if partner_meta and partner_meta.name %}
                  | Partner: <a href="{{ partner_meta.url }}" rel="nofollow noopener" target="_blank">{{ partner_meta.name }}</a>
                {% endif %}
              </p>
              {% if post.excerpt %}
                <p>{{ post.excerpt | strip_html | truncate: 220 }}</p>
              {% else %}
                <p>{{ post.content | strip_html | truncate: 220 }}</p>
              {% endif %}
            </div>
          </article>
        {% endfor %}
      </section>
    </div>
  </div>
</div>
