<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-Xi8rHCmBmhRZWsPNs0sWCpcbHTyPyfefYmC7S8rhlmwKwGuJ2FmggsoQo3YK0Pk" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js" integrity="sha384-X/XCfKMxVjAK4kYFgkxQmoYBNVWVKmfFGid4Scsse7WrpkeM4Oer7F5j+AUCDd8" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js" integrity="sha384-+XBlHj/SSFYf7/r6sB2x7wO0aJpM/Ld/hT7z/t/3t/d/k/C/w/x/y/z" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
%<!-- Image to hack wechat -->%
%<img src="/img/icon_wechat.png" width="0" height="0" />%
%<!-- Migrate from head to bottom, no longer block render and still work -->%

</body>

</html>
